/Program1/nbproject/private/
/JavaApplication3/nbproject/private/
/Program1/build/
/Program2/nbproject/private/
/Program2/build/
/ServletProgram3/nbproject/private/
/ServletProgram3/build/
/ServletProgram4/nbproject/private/
/ServletProgram4/build/
/SessionProgram5/nbproject/private/
/SessionProgram5/build/
/JavaFXpraactical1/nbproject/private/
/JavaPractical1/nbproject/private/
/JavaPractical1/build/
